div.champion ul {
    list-style:none;
  margin:0px;
  padding:0px;
  width:auto;
}
div.champion ul li {
  float:left;
  width:94px;
  height:100px;
  margin-bottom:22px;
  text-align:center;
  line-height:15px;
  cursor:pointer;
  position:relative;
  overflow:hidden;
}
div.champion ul li img{
  width:66px;
  height:65px;
  display:block;
  margin:0 auto 7px;
  border:0;
}